<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				<h2>Acciones</h2>
				<ul class="style2">
					<li class="first"><a href="/sitios/">Listar todos los sitios</a></li>					
					<li><a href="/sitios/">Modificar un sitio</a></li>
					<li><a href="/sitios/">Eliminar un sitio</a></li>
				</ul>
			</div>
			<div id="fbox2">
				<h2>Creación de un nuevo sitio</h2>
					<%= render 'form' %>
					<p class="button-style"><%= link_to 'Ir a atrás', sitios_path %></p>
			</div>
		</div>
	</div>
</div>