<div id="banner"><img src="/images/header-img.jpg" width="1120" height="500" alt="" /></div>
	<div id="page-wrapper">
		<div id="page">
			<div id="wide-content">
				<div>
					<h2>¡Bienvenid@ a TEC-Convenios!</h2>
					<p><strong>TEC-Convenios </strong>, es la página que permite conocer a toda la comunidad TEC respecto a las becas y convenios que posee la Oficina de Dirección de Cooperación a nivel institucional.</p>
					<p>En esta página usted podrá accesar a información que puede serle de ayuda para obtener más eficientemente datos sobre las becas que brinda organismos e instituciones externas.</p>
					<p class="button-style"><a href="http://www.tec.ac.cr/sitios/Vicerrectoria/vie/cooperacion/Paginas/default.aspx">Para mayor detalles</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

