<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				<h2>Acciones</h2>
				<ul class="style2">
					<li class="first"><a href="/tipo_convenios/">Mostrar mapa con todas las universidades</a></li>					
					<li><a href="/tipo_convenios/">Modificar datos de una universidad</a></li>
					<li><a href="/tipo_convenios/">Eliminar una universidad</a></li>
				</ul>
			</div>
			<div id="fbox2">
				<h2>Ingresar una nueva universidad</h2>
					<%= render 'form' %>
					<p class="button-style"><%= link_to 'Ir a atrás', universidads_path %></p>
			</div>
		</div>
	</div>
</div>