<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				<h2>Acciones</h2>
				<ul class="style2">
					<li class="first"><a href="/tipo_convenios/">Listar todos los tipos de convenios</a></li>					
					<li><a href="/tipo_convenios/">Modificar un tipo de convenio</a></li>
					<li><a href="/tipo_convenios/">Eliminar un tipo de convenio</a></li>
				</ul>
			</div>
			<div id="fbox2">
				<h2>Creación de un nuevo tipo de convenio</h2>
					<%= render 'form' %>
					<p class="button-style"><%= link_to 'Ir a atrás', tipo_convenios_path %></p>
			</div>
		</div>
	</div>
</div>